.portfolio-page {
  display: flex;
  position: fixed;
  align-items: center; /* align from the top */
  justify-content: flex-start;
  overflow-x: hidden; /* prevent scrolling in non-fullscreen mode */
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
  background-color: rgb(29, 29, 29);
  flex-direction: column;
}

.outlined {
  background-color: rgb(27, 27, 27);
  transition: all 0.3s ease-in-out;
}
.outlined.active {
}

#portfolio-container {
  position: fixed; /* was fixed */
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: 20;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 1;
  pointer-events: none;
}

#portfolio-container.active {
  pointer-events: auto;
}

#portfolioDisplay {
  width: 100%;
  height: 85vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease, opacity 1s ease;
  transition-delay: 0.5s;
  overflow-y: auto;
}

.fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  z-index: 999 !important;
  overflow-y: scroll !important;
  padding: 2rem;
}

#button-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.portfolio-content {
  overflow-y: auto;
  min-height: 100vh;
  width: 100%;
}
#portfolio-trigger {
  height: 300px;
}
#expand {
  width: 100vw;
  height: 0vh;
  background-color: red;
  transition: all 1s ease-in-out;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 888;
}

/* Styles for General Page Div Format*/

.portfolio-page.reveal-border {
  border: 5px solid grey;
}

.portfolio-page.hide-border {
  border: 5px solid transparent;
}

.portfolio-page.reveal-content * {
  visibility: visible;
  transition: visibility 0s 0.3s; /* slight delay to sync with border */
}

.portfolio-text {
  font-size: 1.2rem;
}

.portfolio-image {
  border-radius: 10px;
}
#portfolio-show-trigger,
#portfolio-hide-trigger {
  height: 10vh;
  width: 100%;
}

#portfolio-show-trigger {
  margin-bottom: 300px;
}

.portfolio-divider {
  border: none;
  border-top: 2px solid #ddd;
  margin: 2rem 0;
}

.portfolio-thumbnail {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
}

.portfolio-embed {
  margin: 1.5rem 0;
  border: none;
  border-radius: 8px;
}

.portfolio-title {
  font-size: 2rem;
}

.portfolio-paragraph {
  font-size: 1rem;
  line-height: 1.6;
}
